body {
    background: #DDBAE8;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
header {
    background: #fff;
    margin: 30px;
    padding: 2%;
}
nav {
    background: #fff;
    margin: 30px;
    padding: 2%;

}
article {
    background:#fff;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    margin: 30px;
    
}
footer {
    background: #fff;
    margin: 30px;
    padding: 2%;
}