
body {
    background: #DDBAE8;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    
}

/* LAYOUT and FONT RULES */

header {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 400;
    padding: 1%;
    background: #fff;
    margin: 30px;
    font-size: 16pt;
    
   }


nav {
    background: #fff;
    text-decoration:none;
    padding: 2%;
    margin: 30px;
    font-size: 12pt;
    border-radius: 10px;
   
}

nav span { 
    border-radius: 5px;
    background:#DDBAE8;
    border: 2px solid #000;
    margin:inherit;
    height:inherit;
    width:inherit;
    padding: 1%;
     
}
article {
    padding: 2%;
    background:#fff;
    margin: 30px;
    font-size: 14pt;
}

footer {
    background: #fff;
    margin: 30px;
    font-size: 12pt



/* LINK RULES */

nav a:link, nav a:visited {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:24px;
    font-weight:400;
    padding:0 16px;
    color:#DDBAE8;
    text-decoration:none;
}
nav span a:hover, nav a:active {
    color:#DDBAE8;
    text-decoration:underline;
}

article a:link, article a:visited {
    color:#000;
    text-decoration:none;
}

article a:hover, article a:active {
    color:#DDBAE8;
    text-decoration:underline;
}

footer a:link, nav a:visited {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:18px;
    font-weight:400;
    padding:0 16px;
    color:#000;
    text-decoration:none;
}
footer a:hover, nav a:active {
    color:#DDBAE8;
    text-decoration:underline;
}


